In [13]:
import pandas as pd
import numpy as np

**`Series`** In Pandas

In [51]:
pd.Series(data=[1,2,3,4,5],index=['a','b','c','d','e'])

In [52]:
myD= {'e':20,'f':200,'g':2000,'h':15}

In [53]:
pd.Series(myD)

In [54]:
s1 = pd.Series([1,2,3,4,5],['a','b','c','d','e'])

In [55]:
s2 = pd.Series([1,2,3,4,5],['a','b','c','f','e'])

In [56]:
s1+s2

**`Data-Frames`** in Pandas

In [2]:
from numpy.random import randn

In [58]:
data = randn(3,4)
data

In [59]:
df = pd.DataFrame(data,['R1','R2','R3'],['C1','C2','C3','C4'])#R1=Row,C1=Column
df #we are passing above generated data into above to make dataframe

,C1,C2,C3,C4
R1,-0.693799,-0.575430,-1.647832,2.171604
R2,-0.980770,0.864950,2.487477,0.467280
R3,0.557578,-1.171548,-2.050796,2.429320

In [60]:
df['C1']

In [61]:
df[['C1','C3']]

,C1,C3
R1,-0.693799,-1.647832
R2,-0.980770,2.487477
R3,0.557578,-2.050796

**`Operations`** on **`(df)`** - Dataframe using pandas

In [62]:
df['C5'] = df['C1']*df['C3']  #we have added new columnc C5
#df['C1']*df['C3']  here we are doing multiplication to get values in C5

In [63]:
df

,C1,C2,C3,C4,C5
R1,-0.693799,-0.575430,-1.647832,2.171604,1.143265
R2,-0.980770,0.864950,2.487477,0.467280,-2.439643
R3,0.557578,-1.171548,-2.050796,2.429320,-1.143478

**`Delete`** any Value

In [64]:
df.drop('C3',axis=1,inplace=True)

In **`drop`** statement first we have to pass the **`column`** **`label`** then **`axis`** means **`top to bottom`** after that **`inplace`**= **`True`** is for to make the changes **`permanently`** so it will
reflect in the data

**`Axis = 1`** means column and **`Axis = 0`** means rows

In [65]:
df

,C1,C2,C4,C5
R1,-0.693799,-0.575430,2.171604,1.143265
R2,-0.980770,0.864950,0.467280,-2.439643
R3,0.557578,-1.171548,2.429320,-1.143478

**` Sub-Selecting`** using Pandas

In [66]:
df.loc['R2'] # we are selecting the raw using row name

In [37]:
df.iloc[1] #we are selecting the raw using raw index number

In [44]:
df.loc[['R1','R2'],['C4','C5']]  #we are sub-selecting the raw and column 
#using raw-label and column-label

,C4,C5
R1,0.238796,0.534125
R2,-0.368070,-0.106721

In [45]:
df.loc[['R2','R3'],['C1','C2']]

,C1,C2
R2,-1.147631,-0.004783
R3,-0.447842,0.506948

In [46]:
df.loc[['R1','R2'],['C1','C2']]

,C1,C2
R1,-0.589213,0.266584
R2,-1.147631,-0.004783

**`Conditional`** selection in **`PANDAS`**

In [47]:
df

,C1,C2,C4,C5
R1,-0.589213,0.266584,0.238796,0.534125
R2,-1.147631,-0.004783,-0.368070,-0.106721
R3,-0.447842,0.506948,-0.705706,0.265943

In [48]:
df>0

,C1,C2,C4,C5
R1,False,True,True,True
R2,False,False,False,False
R3,False,True,False,True

In [50]:
df[df>0] # to get data in values but in the place of the false the values will be NaN

,C1,C2,C4,C5
R1,NaN,0.266584,0.238796,0.534125
R2,NaN,NaN,NaN,NaN
R3,NaN,0.506948,NaN,0.265943

In [57]:
df[df['C5']>0] #you don't get null values you will get the real data R2 has null so it will not show

,C1,C2,C4,C5
R1,-0.589213,0.266584,0.238796,0.534125
R3,-0.447842,0.506948,-0.705706,0.265943


**`Multiple conditions`** in PANDAS

In [21]:
df

,C1,C2,C4,C5
R1,0.002261,-2.506065,-0.503512,0.002229
R2,-0.458841,-0.280618,0.725865,0.190506
R3,1.520365,-0.116605,-1.913849,-0.935613

In [22]:
df[df['C1']>0]

,C1,C2,C4,C5
R1,0.002261,-2.506065,-0.503512,0.002229
R3,1.520365,-0.116605,-1.913849,-0.935613

In [27]:
df[(df['C5']>0) & (df['C4']>0)]

,C1,C2,C4,C5
R2,-0.458841,-0.280618,0.725865,0.190506

In [28]:
df

,C1,C2,C4,C5
R1,0.002261,-2.506065,-0.503512,0.002229
R2,-0.458841,-0.280618,0.725865,0.190506
R3,1.520365,-0.116605,-1.913849,-0.935613

In [47]:
new_index=['row1','row2','row3']

In [48]:
df['new_index']=new_index
df

,col_1,col3,col3,col4,new_index,newindex
R1,0.002261,-2.506065,-0.503512,0.002229,row1,row1
R2,-0.458841,-0.280618,0.725865,0.190506,row2,row2
R3,1.520365,-0.116605,-1.913849,-0.935613,row3,row3

In [44]:
df.set_index('new_index')

,col_1,col3,col3,col4,newindex
new_index,,,,,
row1,0.002261,-2.506065,-0.503512,0.002229,row1
row2,-0.458841,-0.280618,0.725865,0.190506,row2
row3,1.520365,-0.116605,-1.913849,-0.935613,row3

In [68]:
df.rename(columns={'C1':'col_1','C2':'col3','C4':'col3','C5':'col4'})

,col_1,col3,col3,col4
R1,-0.693799,-0.575430,2.171604,1.143265
R2,-0.980770,0.864950,0.467280,-2.439643
R3,0.557578,-1.171548,2.429320,-1.143478

 Basics of **`datacleanup`**

In [3]:
mydata = {'me':[3,5,np.nan],'f1':[4,np.nan,np.nan],'f2':[3,5,4]}

In [4]:
mydata

{'me': [3, 5, nan], 'f1': [4, nan, nan], 'f2': [3, 5, 4]}

In [5]:
mydataframe=pd.DataFrame(mydata)

In [6]:
mydataframe

,me,f1,f2
0,3.0,4.0,3
1,5.0,NaN,5
2,NaN,NaN,4

In [7]:
mydataframe.dropna() #it is going to drop null or NaN values

,me,f1,f2
0,3.0,4.0,3

In [9]:
mydataframe.fillna(value=mydataframe['me'].mean())

,me,f1,f2
0,3.0,4.0,3
1,5.0,4.0,5
2,4.0,4.0,4

It will take **`'me'`** column's values as reference and take mean of the values present in the column and **`replace`** that gained value **`to all the NaN of null `**

**`Merging`** the data and **`operations`**

In [17]:
newdata= {
    'Movie':['Star-Wars','Star-Wars','Batman','Batman','Deadpool','Deadpool'],
    'Viwers':['Me','Mf','MOF','Bobby','Dean','Sammy'],
    'Ratings':[10,7,6,9,8,5]
}

In [18]:
movies = pd.DataFrame(newdata)

In [19]:
movies

,Movie,Viwers,Ratings
0,Star-Wars,Me,10
1,Star-Wars,Mf,7
2,Batman,MOF,6
3,Batman,Bobby,9
4,Deadpool,Dean,8
5,Deadpool,Sammy,5

In [21]:
movies.groupby('Movie').mean()

,Ratings
Movie,
Batman,7.5
Deadpool,6.5
Star-Wars,8.5

In [22]:
movies.groupby('Movie').sum()

,Ratings
Movie,
Batman,15
Deadpool,13
Star-Wars,17

In [42]:
movies.groupby('Movie').std().iloc[2]

**`Reading`** and **`writing`** files

In [49]:
df = pd.read_csv('/data/notebook_files/Demo.csv')
df

,1,2,3
0,11,22,33
1,111,222,333
2,1111,2222,3333
3,11111,22222,33333

In [ ]:
#to export the above file  = df.to_csv('new_demo.csv',index=False)

In [50]:
df.to_csv('new_demo.csv',index=False)

In [52]:
dt=pd.read_csv('new_demo.csv')
dt

,1,2,3
0,11,22,33
1,111,222,333
2,1111,2222,3333
3,11111,22222,33333